*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #EFFCD5;
}
.content{
    padding: 1rem;
    background-color: #FFFFFF;
    height: 100vh;
    width: 100vw;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.content h1{
    padding: 2rem;
    padding-bottom: 0;
    font-weight: 700;
    font-size: 3rem;
    
}
.content #pokeball{
    width: 200px;
    height: 100px;
    opacity: 0.3;
    margin-top: 2.5rem;

}
.content #pokeball:hover{
    opacity: 0.8;
   
    
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.pokemon-list{
    margin-top: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 480px){
    .pokemon-list{
        grid-template-columns: 1fr;
    }
    .content{
        background-color: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
    } 
}
@media screen and (min-width: 768px){
    .pokemon-list{
        grid-template-columns: 1fr 1fr;
    }
    .content{
        background-color: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
    } 

}
@media screen and (min-width: 1024px){
    .pokemon-list{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .content{
        background-color: #FFFFFF;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: auto;
    } 
}
